USE [master]
GO
/****** Object:  Database [PFBD2]    Script Date: 6/05/2026 01:54:18 ******/
CREATE DATABASE [PFBD2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PFBD2', FILENAME = N'/var/opt/mssql/data/PFBD2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PFBD2_log', FILENAME = N'/var/opt/mssql/data/PFBD2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PFBD2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PFBD2]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[AdministradorId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdministradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alergia]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alergia](
	[AlergiaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedicamento] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlergiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[Entidad] [nvarchar](50) NOT NULL,
	[EntidadId] [int] NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Antes] [nvarchar](max) NULL,
	[Despues] [nvarchar](max) NULL,
	[FechaHora] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[CitaId] [int] IDENTITY(1,1) NOT NULL,
	[PacienteId] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[MedicoId] [int] NULL,
	[EspecialidadId] [int] NOT NULL,
	[FechaCita] [date] NOT NULL,
	[HoraCita] [time](7) NOT NULL,
	[FechaSolicitud] [date] NULL,
	[HoraSolicitud] [time](7) NULL,
	[EstadoCitaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CitaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisponibilidadMedico]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisponibilidadMedico](
	[DisponibilidadId] [int] IDENTITY(1,1) NOT NULL,
	[MedicoId] [int] NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DisponibilidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermedad]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermedad](
	[EnfermedadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EnfermedadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCita]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCita](
	[EstadoCitaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoCitaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoTicket]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTicket](
	[EstadoTicketId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[MedicoId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EspecialidadId] [int] NOT NULL,
	[SucursalId] [int] NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[MunicipioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DepartamentoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MunicipioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[PacienteId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DPI] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Genero] [char](1) NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PacienteAlergia]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PacienteAlergia](
	[PacienteId] [int] NOT NULL,
	[AlergiaId] [int] NOT NULL,
 CONSTRAINT [PK_PacienteAlergia] PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC,
	[AlergiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PacienteEnfermedad]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PacienteEnfermedad](
	[PacienteId] [int] NOT NULL,
	[EnfermedadId] [int] NOT NULL,
 CONSTRAINT [PK_PacienteEnfermedad] PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC,
	[EnfermedadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrioridadTicket]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrioridadTicket](
	[PrioridadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrioridadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recepcionista]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepcionista](
	[RecepcionistaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
	[SucursalId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecepcionistaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[SucursalId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[MunicipioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[CitaId] [int] NOT NULL,
	[EstadoTicketId] [int] NOT NULL,
	[PrioridadId] [int] NOT NULL,
	[FechaGeneracion] [datetime2](7) NULL,
	[FechaLlamado] [datetime2](7) NULL,
	[FechaFinalizacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[HashPassword] [nvarchar](256) NOT NULL,
	[RolId] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre]) VALUES (1, N'Medicina Interna')
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre]) VALUES (2, N'Ginecología y Obstetricia')
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre]) VALUES (3, N'Pediatría')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoCita] ON 

INSERT [dbo].[EstadoCita] ([EstadoCitaId], [Nombre]) VALUES (2, N'CANCELADA')
INSERT [dbo].[EstadoCita] ([EstadoCitaId], [Nombre]) VALUES (1, N'PENDIENTE')
SET IDENTITY_INSERT [dbo].[EstadoCita] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([PacienteId], [UsuarioId], [Nombre], [DPI], [Direccion], [Genero], [FechaNacimiento], [Telefono], [Correo]) VALUES (2, 1004, N'Wiliam de Jesus González Pisabaj', N'3563194740101', N'Belen', N'M', CAST(N'2003-09-27' AS Date), N'4817-4647', N'jesusgpisabaj2709@gmail.com')
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolId], [NombreRol]) VALUES (1, N'Paciente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [Nickname], [Email], [HashPassword], [RolId], [Activo]) VALUES (1004, N'Will1', N'jesusgpisabaj2709@gmail.com', N'$2y$12$L1/TD5.TZPDWuk/V1swptO5P1ZqYPUEBUGtnspIC.17RXSOSllUm.', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [UQ__Administ__2B3DE7B95681A1BC]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Administrador] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Alergia__0E76F08F45299C10]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Alergia] ADD UNIQUE NONCLUSTERED 
(
	[NombreMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Enfermed__75E3EFCFC01397B7]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Enfermedad] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoCi__75E3EFCFDF4DE516]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[EstadoCita] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoTi__75E3EFCF013EF9CD]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[EstadoTicket] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Medico__2B3DE7B97F0A54A9]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Medico] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Paciente__2B3DE7B924288ABB]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Paciente] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Paciente__C035891F475F4BD5]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Paciente] ADD UNIQUE NONCLUSTERED 
(
	[DPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Priorida__75E3EFCFC024AA57]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[PrioridadTicket] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Recepcio__2B3DE7B9019F78E7]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Recepcionista] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__4F0B537F033D0D37]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D10534DCD5CC1B]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__CC6CD17EFA06F2AE]    Script Date: 6/05/2026 01:54:18 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (sysutcdatetime()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Cita] ADD  DEFAULT (CONVERT([date],getdate())) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[Cita] ADD  DEFAULT (CONVERT([time],getdate())) FOR [HoraSolicitud]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (sysutcdatetime()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Administrador] CHECK CONSTRAINT [FK_Admin_Usuario]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([RolId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Rol]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Usuario]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Esp] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Esp]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Estado] FOREIGN KEY([EstadoCitaId])
REFERENCES [dbo].[EstadoCita] ([EstadoCitaId])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Estado]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Med] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medico] ([MedicoId])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Med]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Pac] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Paciente] ([PacienteId])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Pac]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Suc] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursal] ([SucursalId])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Suc]
GO
ALTER TABLE [dbo].[DisponibilidadMedico]  WITH CHECK ADD  CONSTRAINT [FK_Disponibilidad_Med] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medico] ([MedicoId])
GO
ALTER TABLE [dbo].[DisponibilidadMedico] CHECK CONSTRAINT [FK_Disponibilidad_Med]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Esp] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Esp]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Suc] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursal] ([SucursalId])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Suc]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Usuario]
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Dep] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([DepartamentoId])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [FK_Municipio_Dep]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Usuario]
GO
ALTER TABLE [dbo].[PacienteAlergia]  WITH CHECK ADD  CONSTRAINT [FK_PA_Alergia] FOREIGN KEY([AlergiaId])
REFERENCES [dbo].[Alergia] ([AlergiaId])
GO
ALTER TABLE [dbo].[PacienteAlergia] CHECK CONSTRAINT [FK_PA_Alergia]
GO
ALTER TABLE [dbo].[PacienteAlergia]  WITH CHECK ADD  CONSTRAINT [FK_PA_Paciente] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Paciente] ([PacienteId])
GO
ALTER TABLE [dbo].[PacienteAlergia] CHECK CONSTRAINT [FK_PA_Paciente]
GO
ALTER TABLE [dbo].[PacienteEnfermedad]  WITH CHECK ADD  CONSTRAINT [FK_PE_Enfermedad] FOREIGN KEY([EnfermedadId])
REFERENCES [dbo].[Enfermedad] ([EnfermedadId])
GO
ALTER TABLE [dbo].[PacienteEnfermedad] CHECK CONSTRAINT [FK_PE_Enfermedad]
GO
ALTER TABLE [dbo].[PacienteEnfermedad]  WITH CHECK ADD  CONSTRAINT [FK_PE_Paciente] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Paciente] ([PacienteId])
GO
ALTER TABLE [dbo].[PacienteEnfermedad] CHECK CONSTRAINT [FK_PE_Paciente]
GO
ALTER TABLE [dbo].[Recepcionista]  WITH CHECK ADD  CONSTRAINT [FK_Recepcionista_Suc] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursal] ([SucursalId])
GO
ALTER TABLE [dbo].[Recepcionista] CHECK CONSTRAINT [FK_Recepcionista_Suc]
GO
ALTER TABLE [dbo].[Recepcionista]  WITH CHECK ADD  CONSTRAINT [FK_Recepcionista_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Recepcionista] CHECK CONSTRAINT [FK_Recepcionista_Usuario]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_Mun] FOREIGN KEY([MunicipioId])
REFERENCES [dbo].[Municipio] ([MunicipioId])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FK_Sucursal_Mun]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Cita] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Cita] ([CitaId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Cita]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Estado] FOREIGN KEY([EstadoTicketId])
REFERENCES [dbo].[EstadoTicket] ([EstadoTicketId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Estado]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Prioridad] FOREIGN KEY([PrioridadId])
REFERENCES [dbo].[PrioridadTicket] ([PrioridadId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Prioridad]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([RolId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD CHECK  (([Genero]='F' OR [Genero]='M'))
GO
/****** Object:  StoredProcedure [dbo].[spCancelarCita]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Cancelar Cita
CREATE PROCEDURE [dbo].[spCancelarCita]
    @CitaId INT
AS
BEGIN
    UPDATE Cita
    SET EstadoCitaId=(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='CANCELADA')
    WHERE CitaId=@CitaId AND EstadoCitaId IN (
        SELECT EstadoCitaId FROM EstadoCita WHERE Nombre IN ('PENDIENTE','CONFIRMADA')
    );
END
GO
/****** Object:  StoredProcedure [dbo].[spConfirmarCita]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Confirmar Cita
CREATE PROCEDURE [dbo].[spConfirmarCita]
    @CitaId INT,
    @IdempotencyKey UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        IF EXISTS (SELECT 1 FROM AuditLog WHERE Entidad='Cita' AND Accion='CONFIRMAR' AND Antes=@IdempotencyKey)
        BEGIN
            RAISERROR('Duplicado por IdempotencyKey',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        UPDATE Cita
        SET EstadoCitaId=(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='CONFIRMADA')
        WHERE CitaId=@CitaId AND EstadoCitaId=(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='PENDIENTE');

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No se pudo confirmar cita',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarAdministrador]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Registrar Administrador
CREATE PROCEDURE [dbo].[spRegistrarAdministrador]
    @Nickname NVARCHAR(50),
    @Email NVARCHAR(100),
    @HashPassword NVARCHAR(256),
    @Nombre NVARCHAR(100),
    @Telefono NVARCHAR(20),
    @Correo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @RolId INT = (SELECT RolId FROM Rol WHERE NombreRol='Administrador');

        INSERT INTO Usuario(Nickname,Email,HashPassword,RolId)
        VALUES(@Nickname,@Email,@HashPassword,@RolId);

        DECLARE @UsuarioId INT = SCOPE_IDENTITY();

        INSERT INTO Administrador(UsuarioId,Nombre,Telefono,Correo)
        VALUES(@UsuarioId,@Nombre,@Telefono,@Correo);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarMedico]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Registrar Medico
CREATE PROCEDURE [dbo].[spRegistrarMedico]
    @Nickname NVARCHAR(50),
    @Email NVARCHAR(100),
    @HashPassword NVARCHAR(256),
    @Nombre NVARCHAR(100),
    @EspecialidadId INT,
    @SucursalId INT,
    @Telefono NVARCHAR(20),
    @Correo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @RolId INT = (SELECT RolId FROM Rol WHERE NombreRol='Medico');

        INSERT INTO Usuario(Nickname,Email,HashPassword,RolId)
        VALUES(@Nickname,@Email,@HashPassword,@RolId);

        DECLARE @UsuarioId INT = SCOPE_IDENTITY();

        INSERT INTO Medico(UsuarioId,Nombre,EspecialidadId,SucursalId,Telefono,Correo)
        VALUES(@UsuarioId,@Nombre,@EspecialidadId,@SucursalId,@Telefono,@Correo);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarPaciente]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Registrar Paciente
CREATE PROCEDURE [dbo].[spRegistrarPaciente]
    @Nickname NVARCHAR(50),
    @Email NVARCHAR(100),
    @HashPassword NVARCHAR(256),
    @Nombre NVARCHAR(100),
    @DPI NVARCHAR(20),
    @Direccion NVARCHAR(200),
    @Genero CHAR(1),
    @FechaNacimiento DATE,
    @Telefono NVARCHAR(20),
    @Correo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @RolId INT = (SELECT RolId FROM Rol WHERE NombreRol='Paciente');

        INSERT INTO Usuario(Nickname,Email,HashPassword,RolId)
        VALUES(@Nickname,@Email,@HashPassword,@RolId);

        DECLARE @UsuarioId INT = SCOPE_IDENTITY();

        INSERT INTO Paciente(UsuarioId,Nombre,DPI,Direccion,Genero,FechaNacimiento,Telefono,Correo)
        VALUES(@UsuarioId,@Nombre,@DPI,@Direccion,@Genero,@FechaNacimiento,@Telefono,@Correo);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarRecepcionista]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP Registrar Recepcionista
CREATE PROCEDURE [dbo].[spRegistrarRecepcionista]
    @Nickname NVARCHAR(50),
    @Email NVARCHAR(100),
    @HashPassword NVARCHAR(256),
    @Nombre NVARCHAR(100),
    @SucursalId INT,
    @Telefono NVARCHAR(20),
    @Correo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @RolId INT = (SELECT RolId FROM Rol WHERE NombreRol='Recepcionista');

        INSERT INTO Usuario(Nickname,Email,HashPassword,RolId)
        VALUES(@Nickname,@Email,@HashPassword,@RolId);

        DECLARE @UsuarioId INT = SCOPE_IDENTITY();

        INSERT INTO Recepcionista(UsuarioId,Nombre,Telefono,Correo,SucursalId)
        VALUES(@UsuarioId,@Nombre,@Telefono,@Correo,@SucursalId);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spReprogramarCita]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Reprogramar Cita
CREATE PROCEDURE [dbo].[spReprogramarCita]
    @CitaId INT,
    @NuevaFecha DATE,
    @NuevaHora TIME
AS
BEGIN
    DECLARE @HorasMin INT = 4;
    IF DATEDIFF(HOUR, GETDATE(), CAST(@NuevaFecha AS DATETIME) + CAST(@NuevaHora AS DATETIME)) < @HorasMin
    BEGIN
        RAISERROR('No se puede reprogramar dentro de la ventana m�nima',16,1);
        RETURN;
    END

    UPDATE Cita
    SET EstadoCitaId=(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='REPROGRAMADA'),
        FechaCita=@NuevaFecha,
        HoraCita=@NuevaHora
    WHERE CitaId=@CitaId AND EstadoCitaId=(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='CONFIRMADA');
END
GO
/****** Object:  StoredProcedure [dbo].[spReservarCita]    Script Date: 6/05/2026 01:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Reservar Cita
CREATE PROCEDURE [dbo].[spReservarCita]
    @PacienteId INT,
    @SucursalId INT,
    @MedicoId INT = NULL,
    @EspecialidadId INT,
    @FechaCita DATE,
    @HoraCita TIME,
    @IdempotencyKey UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        IF EXISTS (SELECT 1 FROM AuditLog WHERE Entidad='Cita' AND Accion='RESERVAR' AND Antes=@IdempotencyKey)
        BEGIN
            RAISERROR('Duplicado por IdempotencyKey',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        DECLARE @Capacidad INT = 1;
        IF (SELECT COUNT(*) FROM Cita WHERE SucursalId=@SucursalId AND EspecialidadId=@EspecialidadId AND MedicoId=ISNULL(@MedicoId,MedicoId) AND FechaCita=@FechaCita AND HoraCita=@HoraCita AND EstadoCitaId=(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='CONFIRMADA')) >= @Capacidad
        BEGIN
            RAISERROR('SIN_CUPO',16,1);
            ROLLBACK TRAN;
            RETURN;
        END

        INSERT INTO Cita(PacienteId,SucursalId,MedicoId,EspecialidadId,FechaCita,HoraCita,EstadoCitaId)
        VALUES(@PacienteId,@SucursalId,@MedicoId,@EspecialidadId,@FechaCita,@HoraCita,(SELECT EstadoCitaId FROM EstadoCita WHERE Nombre='PENDIENTE'));

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
USE [master]
GO
